.title {
    text-align: center;
    padding: 20px;
    font-size: 2.6em;
    color: var(--accent-color)
}

/* Search Area */
.search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;

    padding-bottom: 10px;
}

#animeSearchInput {
    padding: 12px;
    width: 280px;
    border-radius: 6px;
    border: none;
}

#searchBtn {
    padding: 12px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 6px;
    border: 2px solid transparent;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

#searchBtn:hover {
  color: black;
  border: 2px solid black;
  background-color: transparent;
}

/* Anime Info */
.anime-info {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 1.2em;
}

/* Character Grid */
.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.character-card {
    background-color: var(--accent-color);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    animation: fadeIn 0.5s ease;
    transition: transform 0.3s;
    cursor: pointer;
}

.character-card:hover {
    transform: translateY(-6px);
}

.character-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.character-name {
    font-size: 1.2em;
    font-weight: bold;
}

.character-role {
    color: var(--secondary-color);
    margin-bottom: 6px;
}

/* Pagination */
.pagination {
    text-align: center;
    margin: 10px 0 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--accent-color);
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.pagination button:hover {
  opacity: .6;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden {
    display: none;
}

.modal-content {
    background: var(--accent-color);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 450px;
    animation: popIn 0.4s ease;
}

.close {
    float: right;
    font-size: 26px;
    cursor: pointer;
}

.modal-img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}

@keyframes popIn {
    from { transform: scale(0.5); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}

/* Responsive tweaks */
@media (max-width: 600px) {
    .title { font-size: 2em; }
    #animeSearchInput { width: 200px; }
    .modal-img { width: 140px; }
}
