header {
  background-color: var(--accent-color);
  padding: 0 1rem;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-name {
  font-weight: 600;
  cursor: pointer;
}

.quote-name {
  color: var(--bg-color);
}

.right-header-section {
  display: flex;
}

.box-icon { 
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 4px 8px;
  margin-left: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.15s ease, border 0.15s ease;
}

.box-icon:hover {
  border: 1px solid black;
}

.icon {
  height: 20px;
}

.main-container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  color: rgb(255, 238, 126);
}

.anime-option {
  font-size: var(--font-size-b);
  margin: var(--font-size-b) 0;
  width: 100%;
  padding: 5px 0;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.anime-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.55rem;
  column-gap: 0.55rem;
}

@media (min-width:600px) {
  .anime-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  html {
    font-size: 17px;
  }
}
@media (min-width:880px) {
  .anime-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  html {
    font-size: 18px;
  }
}
@media (min-width:1141px) {
  .anime-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  html {
    font-size: 19px;
  }
}

.anime-container {
  position: relative;
  cursor: pointer;
}

.anime-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.808);
  color: var(--accent-color);
}

.anime-name {
  font-weight: 600;
  font-size: var(--font-size-xm)
}

.anime-stats {
  font-size: var(--font-size-xm);
  margin-top: 5px;
  font-weight: 400;
  column-gap: 6px;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.369);
  opacity: 0;
  transition: opacity 1s ease;
}

.anime-container:hover .overlay {
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;

  background-color: var(--accent-color);
  padding: 10px;
  color: black;
  transition: opacity 1s ease; 
  opacity: 0;
  font-size: var(--font-size-xm);
}

.anime-container:hover .tooltip {
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  margin: 20px 0;
  font-size: var(--font-size-b)
}

.pagination li {
  background-color: var(--accent-color);
  color: black;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.6;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .current-page {
  opacity: 1;
}
