.main-container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  color: rgb(255, 238, 126);
}

.anime-option {
  font-size: var(--font-size-b);
  margin: var(--font-size-b) 0;
  padding: 5px;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: white;
  border: none
}

.anime-option option {
  color: black;
}

.anime-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.55rem;
  column-gap: 0.55rem;
}


.anime-container {
  position: relative;
  cursor: pointer;
}

.anime-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.anime-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: rgba(0, 0, 0, 0.808);
  color: var(--accent-color);
}

.anime-name {
  font-weight: 600;
  font-size: var(--font-size-xm)
}

.anime-stats {
  font-size: var(--font-size-xm);
  margin-top: 5px;
  font-weight: 400;
  column-gap: 6px;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.369);
  opacity: 0;
  transition: opacity 1s ease;
}

.anime-container:hover .overlay {
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;

  background-color: var(--accent-color);
  padding: 10px;
  color: black;
  transition: opacity 1s ease; 
  opacity: 0;
  font-size: var(--font-size-xm);
}

.anime-container:hover .tooltip {
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  margin: 30px 0;
  font-size: var(--font-size-b)
}

.pagination button {
  padding: 2px 4px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.pagination .active {
  background-color: var(--accent-color);
}

@media (min-width:600px) {
  .anime-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:880px) {
  .anime-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width:1141px) {
  .anime-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}