main {
  min-height: 100vh;
  width: 90%;
  max-width: 600px;
  margin: auto;
 
  display: grid;
  align-content: center;
  row-gap: 30px;
}

.title {
  text-align: center;
  color: var(--text-color);
  font-size: var(--font-size-bg);
  font-weight: 600;
}

.title span {
  color: var(--accent-color)
}

.navbar {
  list-style-type: none;
  font-size: var(--font-size-s);

  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.navbar a:hover {
  border-bottom: 2px solid white;
}

.search-row {
  display: flex;
}

.search-input {
  flex: 1;
  padding: 8px;

  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-input:focus {
  outline: none;
}

.search-box {
  border: none;
  width: 40px;
  margin-left: -1px;
  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  height: 15px
}

.cover-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}