@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}



@media (min-width:600px) {
  html {
    font-size: 17px;
  }
}

@media (min-width:880px) {
  html {
    font-size: 18px;
  }
}

@media (min-width:1141px) {
  html {
    font-size: 19px;
  }
}