:root {
  --bg-color: hsl(202, 62%, 41%);
  --text-color: rgb(255, 231, 231);
  --accent-color: rgb(241, 203, 35);
  --secondary-color: blue;
  --hightlight-color: yellow;

  --font-main: 'Poppins', sans-serif;
  --font-size-xm: 0.65rem;
  --font-size-b: 16px;
  --font-size-s: 0.85rem;
  --font-size-m: 1.25rem;
  --font-size-bg: 2.5rem;
}